
@{
    Layout = null;
}
@model MVCBasicBlog.Models.ORM.Entity.BlogPost
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <img src="/Areas/Admin/Content/images/BlogPost/@Model.ImagePath" />
    </div>
</body>
</html>
