
@{
    ViewBag.Title = "BlogCategory";
    Layout = "~/Views/Shared/BlogMasterLayout.cshtml";
}
@model List<MVCBasicBlog.Models.VM.PostVM>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Title</li>
    }
</ul>
